.main{
	text-align: right;
	letter-spacing: -1pt;
	
}
.one{
	padding-top: 100px;
}

.two{
	padding:20px;
}



.four{
	padding:20px;
}

.six{
	padding:20px;
}

.ten{
	padding:20px;
}

.eight{
	
	padding: 20px;
}


