body{
	background-color:#2b3c36;
}


.slide1{
	float: right;
	color: white;
	font-size: 20pt;
	font-family: Bookman Old Style; 
}

.door{
	width: 350px;
	height: 630px;
	background-color: #ababa0;
	border: 20px solid 	#292924;
	margin-left: 200px;
	margin-top: 100px;
	box-sizing: 

}

.knob{
	width: 40px;
	height: 35px;
	border-radius: 100%;
	background-color: #292924;
	position: relative;
	float: right;
	margin-right: 20px;
	top: 40%;

}

.square1{
	width: 220px;
	height: 220px;
	background-color: #878778;
	position: relative;
	margin-top: 40px;
	margin-left: 60px;
}

.shadow1{
	width: 180px;
	height: 180px;
	background-color: #ababa0;
	position: relative;
	top: 20px;
	margin-left: 20px;

}

.square2{
	width: 220px;
	height: 220px;
	background-color: #878778;
	position: relative;
	margin-top: 10px;
	margin-left: 60px;
}

.shadow2{
	width: 180px;
	height: 180px;
	background-color: #ababa0;
	position: relative;
	top: 20px;
	margin-left: 20px;

}