  body{
	background-color: #86c6e0;
	overflow: hidden;
}

.field {
    position: relative;
}

@import url('https://fonts.googleapis.com/css?family=Sacramento');

.bubblegum{
  font-family: 'Sacramento', cursive;
  font-size: 30pt;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
  position: relative;
}

/*Title */

.title{
	text-align: center;
	font-size: 40pt;
	padding-left:400px;
	padding-top: 210px;
	position: fixed;
    line-height: 4pt;


}

/* large bubble buttons */

.LargeBubbles{
	position: fixed;


}

/* LargeBubble1*/

.LargeBubble1{
	text-align: center;
	display: block;	
	line-height: 200px;
	top: 400px;	
	left: 200px;		
    width: 200px;
    height: 200px;
    border-radius: 100%;
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    position: relative;
    z-index: -1;
}

.LargeBubble1:after {
    content: "";
    display: block;
    width: 20%;
    height: 20%;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    right: 15%;
    top: 15%;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    transform: rotateZ(45deg) scaleY(0.8);
    -webkit-transform: rotateZ(45deg) scaleY(0.8);
}

/* LargeBubble2*/

.LargeBubble2{
	text-align: center;
	display: block;	
	line-height: 200px;
	top: 160px;	
	left: 440px;		
    width: 200px;
    height: 200px;
    border-radius: 100%;
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    position: relative;

}

.LargeBubble2:after {
    content: "";
    display: block;
    width: 20%;
    height: 20%;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    right: 15%;
    top: 15%;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    transform: rotateZ(45deg) scaleY(0.8);
    -webkit-transform: rotateZ(45deg) scaleY(0.8);

}

/* LargeBubble3*/

.LargeBubble3{
	text-align: center;
	display: block;	
	line-height: 200px;
	top: -80px;	
	left: 680px;		
    width: 200px;
    height: 200px;
    border-radius: 100%;
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    position: relative;

}

.LargeBubble3:after {
    content: "";
    display: block;
    width: 20%;
    height: 20%;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    right: 15%;
    top: 15%;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    transform: rotateZ(45deg) scaleY(0.8);
    -webkit-transform: rotateZ(45deg) scaleY(0.8);

}

/* LargeBubble4*/

.LargeBubble4{
	text-align: center;
	display: block;	
	line-height: 200px;
	top: -320px;	
	left: 920px;		
    width: 200px;
    height: 200px;
    border-radius: 100%;
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    position: relative;
   
}

.LargeBubble4:after {
    content: "";
    display: block;
    width: 20%;
    height: 20%;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    right: 15%;
    top: 15%;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    transform: rotateZ(45deg) scaleY(0.8);
    -webkit-transform: rotateZ(45deg) scaleY(0.8);

}

/* LargeBubble5*/

.LargeBubble5{
	text-align: center;
	display: block;	
	line-height: 200px;
	top: -560px;	
	left: 1160px;		
    width: 200px;
    height: 200px;
    border-radius: 100%;
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    position: relative;
   
}

.LargeBubble5:after {
    content: "";
    display: block;
    width: 20%;
    height: 20%;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    right: 15%;
    top: 15%;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    transform: rotateZ(45deg) scaleY(0.8);
    -webkit-transform: rotateZ(45deg) scaleY(0.8);

}

/* small bubble animation */
/* Bubble1 */

.bubble1 {
    display: block;
    top: 1300px;					/* Test: good, rise top to bottom*/
    width: 20px;
    height: 20px;
    border-radius: 100%;
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    position: relative;
    z-index: 1;
}


.bubble1:after {
    content: "";
    display: block;
    width: 20%;
    height: 20%;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    right: 15%;
    top: 15%;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    transform: rotateZ(45deg) scaleY(0.8);
    -webkit-transform: rotateZ(45deg) scaleY(0.8);
}

.move {
    animation: move 10s cubic-bezier(0.47, 0, 0.745, 0.715) 0s infinite normal;
    -webkit-animation: move 10s cubic-bezier(0.47, 0, 0.745, 0.715) 0s infinite normal;
    position: absolute;

}

@keyframes move {
    0% { transform: translateY(0px); }
    100% { transform: translateY(-1000px);  }
}
@-webkit-keyframes move {
    0% { -webkit-transform: translateY(0px); }
    100% { -webkit-transform: translateY(-1000px); }
}



/* Bubble2 */

.bubble2 {
    display: block; 
   	top: 1300px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    position: relative;
    z-index: 1;
}


.bubble2:after {
    content: "";
    display: block;
    width: 20%;
    height: 20%;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    right: 15%;
    top: 15%;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    transform: rotateZ(45deg) scaleY(0.8);
    -webkit-transform: rotateZ(45deg) scaleY(0.8);
}

.move {
    animation: move 10s cubic-bezier(0.47, 0, 0.745, 0.715) 0s infinite normal;
    -webkit-animation: move 10s cubic-bezier(0.47, 0, 0.745, 0.715) 0s infinite normal;
    position: absolute;
    bottom: -170%;
    left: 50%;
}

@keyframes move {
    0% { transform: translateY(0px); }
    100% { transform: translateY(-1000px);  }
}
@-webkit-keyframes move {
    0% { -webkit-transform: translateY(0px); }
    100% { -webkit-transform: translateY(-1000px); }
}


/* Bubble3 */

.bubble3 {
    display: block;
   	top: 1300px;	
   	right: 200px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    position: relative;
    z-index: 1;
}


.bubble3:after {
    content: "";
    display: block;
    width: 20%;
    height: 20%;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    right: 15%;
    top: 15%;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    transform: rotateZ(45deg) scaleY(0.8);
    -webkit-transform: rotateZ(45deg) scaleY(0.8);
}

.move3 {
    animation: move 8s cubic-bezier(0.47, 0, 0.745, 0.715) 0s infinite normal;
    -webkit-animation: move 8s cubic-bezier(0.47, 0, 0.745, 0.715) 0s infinite normal;
    position: absolute;
    bottom: -170%;
    left: 50%;
}

@keyframes move3 {
    0% { transform: translateY(0px); }
    100% { transform: translateY(-1000px);  }
}
@-webkit-keyframes move3 {
    0% { -webkit-transform: translateY(0px); }
    100% { -webkit-transform: translateY(-1000px); }
}

/* Bubble4 */

.bubble4 {
    display: block; 
   	top: 1300px;
   	right: 650px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    position: relative;
}


.bubble4:after {
    content: "";
    display: block;
    width: 20%;
    height: 20%;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    right: 15%;
    top: 15%;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    transform: rotateZ(45deg) scaleY(0.8);
    -webkit-transform: rotateZ(45deg) scaleY(0.8);
}

.move4 {
    animation: move 15s cubic-bezier(0.47, 0, 0.745, 0.715) 0s infinite normal;
    -webkit-animation: move 15s cubic-bezier(0.47, 0, 0.745, 0.715) 0s infinite normal;
    position: absolute;
    bottom: -170%;
    left: 50%;
}

@keyframes move4 {
    0% { transform: translateY(0px); }
    100% { transform: translateY(-1000px);  }
}
@-webkit-keyframes move4 {
    0% { -webkit-transform: translateY(0px); }
    100% { -webkit-transform: translateY(-1000px); }
}

/* Bubble5 */

.bubble5 {
    display: block;
    top: 1300px;
    left: 600px;				
    width: 30px;
    height: 30px;
    border-radius: 100%;
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    position: relative;
}


.bubble5:after {
    content: "";
    display: block;
    width: 20%;
    height: 20%;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    right: 15%;
    top: 15%;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    transform: rotateZ(45deg) scaleY(0.8);
    -webkit-transform: rotateZ(45deg) scaleY(0.8);
}

.move5 {
    animation: move 15s cubic-bezier(0.47, 0, 0.745, 0.715) 0s infinite normal;
    -webkit-animation: move 15s cubic-bezier(0.47, 0, 0.745, 0.715) 0s infinite normal;
    position: absolute;

}

@keyframes move5 {
    0% { transform: translateY(0px); }
    100% { transform: translateY(-1000px);  }
}
@-webkit-keyframes move5 {
    0% { -webkit-transform: translateY(0px); }
    100% { -webkit-transform: translateY(-1000px); }
}

/* Bubble6 */

.bubble6 {
    display: block;
    top: 1300px;
    left: 800px;				
    width: 10px;
    height: 10px;
    border-radius: 100%;
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    position: relative;

}


.bubble6:after {
    content: "";
    display: block;
    width: 20%;
    height: 20%;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    right: 15%;
    top: 15%;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    transform: rotateZ(45deg) scaleY(0.8);
    -webkit-transform: rotateZ(45deg) scaleY(0.8);
}

.move6 {
    animation: move 20s cubic-bezier(0.47, 0, 0.745, 0.715) 0s infinite normal;
    -webkit-animation: move 20s cubic-bezier(0.47, 0, 0.745, 0.715) 0s infinite normal;
    position: absolute;

}

@keyframes move6 {
    0% { transform: translateY(0px); }
    100% { transform: translateY(-1000px);  }
}
@-webkit-keyframes move6 {
    0% { -webkit-transform: translateY(0px); }
    100% { -webkit-transform: translateY(-1000px); }
}


/* Bubble7 */

.bubble7 {
    display: block;
    top: 1300px;
    left: 200px;				
    width: 13px;
    height: 13px;
    border-radius: 100%;
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    position: relative;

}


.bubble7:after {
    content: "";
    display: block;
    width: 20%;
    height: 20%;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    right: 15%;
    top: 15%;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    transform: rotateZ(45deg) scaleY(0.8);
    -webkit-transform: rotateZ(45deg) scaleY(0.8);
}

.move7 {
    animation: move 12s cubic-bezier(0.47, 0, 0.745, 0.715) 0s infinite normal;
    -webkit-animation: move 12s cubic-bezier(0.47, 0, 0.745, 0.715) 0s infinite normal;
    position: absolute;

}

@keyframes move7 {
    0% { transform: translateY(0px); }
    100% { transform: translateY(-1000px);  }
}
@-webkit-keyframes move7 {
    0% { -webkit-transform: translateY(0px); }
    100% { -webkit-transform: translateY(-1000px); }
}

/* Bubble8 */

.bubble8 {
    display: block;
    top: 1300px;
    left: 150px;				
    width: 17px;
    height: 17px;
    border-radius: 100%;
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    position: relative;

}


.bubble8:after {
    content: "";
    display: block;
    width: 20%;
    height: 20%;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    right: 15%;
    top: 15%;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    transform: rotateZ(45deg) scaleY(0.8);
    -webkit-transform: rotateZ(45deg) scaleY(0.8);
}

.move8 {
    animation: move 20s cubic-bezier(0.47, 0, 0.745, 0.715) 0s infinite normal;
    -webkit-animation: move 20s cubic-bezier(0.47, 0, 0.745, 0.715) 0s infinite normal;
    position: absolute;

}

@keyframes move8 {
    0% { transform: translateY(0px); }
    100% { transform: translateY(-1000px);  }
}
@-webkit-keyframes move8 {
    0% { -webkit-transform: translateY(0px); }
    100% { -webkit-transform: translateY(-1000px); }
}

/* Bubble9 */

.bubble9 {
    display: block;
    top: 1300px;
    left: 450px;				
    width: 20px;
    height: 20px;
    border-radius: 100%;
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    position: relative;

}


.bubble9:after {
    content: "";
    display: block;
    width: 20%;
    height: 20%;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    right: 15%;
    top: 15%;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    transform: rotateZ(45deg) scaleY(0.8);
    -webkit-transform: rotateZ(45deg) scaleY(0.8);
}

.move9 {
    animation: move 16s cubic-bezier(0.47, 0, 0.745, 0.715) 0s infinite normal;
    -webkit-animation: move 16s cubic-bezier(0.47, 0, 0.745, 0.715) 0s infinite normal;
    position: absolute;

}

@keyframes move9 {
    0% { transform: translateY(0px); }
    100% { transform: translateY(-1000px);  }
}
@-webkit-keyframes move9 {
    0% { -webkit-transform: translateY(0px); }
    100% { -webkit-transform: translateY(-1000px); }
}

/* Bubble10 */

.bubble10 {
    display: block;
    top: 1300px;
    left: 350px;				
    width: 20px;
    height: 20px;
    border-radius: 100%;
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    position: relative;

}


.bubble10:after {
    content: "";
    display: block;
    width: 20%;
    height: 20%;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    right: 15%;
    top: 15%;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    transform: rotateZ(45deg) scaleY(0.8);
    -webkit-transform: rotateZ(45deg) scaleY(0.8);
}

.move10 {
    animation: move 10s cubic-bezier(0.47, 0, 0.745, 0.715) 0s infinite normal;
    -webkit-animation: move 10s cubic-bezier(0.47, 0, 0.745, 0.715) 0s infinite normal;
    position: absolute;

}

@keyframes move10 {
    0% { transform: translateY(0px); }
    100% { transform: translateY(-1000px);  }
}
@-webkit-keyframes move10 {
    0% { -webkit-transform: translateY(0px); }
    100% { -webkit-transform: translateY(-1000px); }
}

/* Bubble11 */

.bubble11 {
    display: block;
    top: 1300px;
    left: 950px;				
    width: 15px;
    height: 15px;
    border-radius: 100%;
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    position: relative;

}


.bubble11:after {
    content: "";
    display: block;
    width: 20%;
    height: 20%;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    right: 15%;
    top: 15%;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    transform: rotateZ(45deg) scaleY(0.8);
    -webkit-transform: rotateZ(45deg) scaleY(0.8);
}

.move11 {
    animation: move 9s cubic-bezier(0.47, 0, 0.745, 0.715) 0s infinite normal;
    -webkit-animation: move 9s cubic-bezier(0.47, 0, 0.745, 0.715) 0s infinite normal;
    position: absolute;

}

@keyframes move11 {
    0% { transform: translateY(0px); }
    100% { transform: translateY(-1000px);  }
}
@-webkit-keyframes move11 {
    0% { -webkit-transform: translateY(0px); }
    100% { -webkit-transform: translateY(-1000px); }
}

/* Bubble12 */

.bubble12 {
    display: block;
    top: 1300px;
    left: 1100px;				
    width: 20px;
    height: 20px;
    border-radius: 100%;
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    position: relative;

}


.bubble12:after {
    content: "";
    display: block;
    width: 20%;
    height: 20%;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    right: 15%;
    top: 15%;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    transform: rotateZ(45deg) scaleY(0.8);
    -webkit-transform: rotateZ(45deg) scaleY(0.8);
}

.move12 {
    animation: move 12s cubic-bezier(0.47, 0, 0.745, 0.715) 0s infinite normal;
    -webkit-animation: move 12s cubic-bezier(0.47, 0, 0.745, 0.715) 0s infinite normal;
    position: absolute;

}

@keyframes move12 {
    0% { transform: translateY(0px); }
    100% { transform: translateY(-1000px);  }
}
@-webkit-keyframes move12 {
    0% { -webkit-transform: translateY(0px); }
    100% { -webkit-transform: translateY(-1000px); }
}

/* Bubble13 */

.bubble13 {
    display: block;
    top: 1300px;
    left: 1440px;				
    width: 18px;
    height: 18px;
    border-radius: 100%;
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    position: relative;

}


.bubble13:after {
    content: "";
    display: block;
    width: 20%;
    height: 20%;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    right: 15%;
    top: 15%;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    transform: rotateZ(45deg) scaleY(0.8);
    -webkit-transform: rotateZ(45deg) scaleY(0.8);
}

.move13 {
    animation: move 18s cubic-bezier(0.47, 0, 0.745, 0.715) 0s infinite normal;
    -webkit-animation: move 18s cubic-bezier(0.47, 0, 0.745, 0.715) 0s infinite normal;
    position: absolute;

}

@keyframes move13 {
    0% { transform: translateY(0px); }
    100% { transform: translateY(-1000px);  }
}
@-webkit-keyframes move13 {
    0% { -webkit-transform: translateY(0px); }
    100% { -webkit-transform: translateY(-1000px); }
}

/* Bubble14 */

.bubble14 {
    display: block;
    top: 1300px;	
    left: 1240px;				
    width: 8px;
    height: 8px;
    border-radius: 100%;
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    position: relative;

}


.bubble14:after {
    content: "";
    display: block;
    width: 20%;
    height: 20%;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    right: 15%;
    top: 15%;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    transform: rotateZ(45deg) scaleY(0.8);
    -webkit-transform: rotateZ(45deg) scaleY(0.8);
}

.move14 {
    animation: move 10s cubic-bezier(0.47, 0, 0.745, 0.715) 0s infinite normal;
    -webkit-animation: move 10s cubic-bezier(0.47, 0, 0.745, 0.715) 0s infinite normal;
    position: absolute;

}

@keyframes move14 {
    0% { transform: translateY(0px); }
    100% { transform: translateY(-1000px);  }
}
@-webkit-keyframes move14 {
    0% { -webkit-transform: translateY(0px); }
    100% { -webkit-transform: translateY(-1000px); }
}

/* Bubble15 */

.bubble15 {
    display: block;
    top: 1300px;	
    left: 1140px;				
    width: 13px;
    height: 13px;
    border-radius: 100%;
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    position: relative;

}


.bubble15:after {
    content: "";
    display: block;
    width: 20%;
    height: 20%;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    right: 15%;
    top: 15%;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    transform: rotateZ(45deg) scaleY(0.8);
    -webkit-transform: rotateZ(45deg) scaleY(0.8);
}

.move15 {
    animation: move 13s cubic-bezier(0.47, 0, 0.745, 0.715) 0s infinite normal;
    -webkit-animation: move 13s cubic-bezier(0.47, 0, 0.745, 0.715) 0s infinite normal;
    position: absolute;

}

@keyframes move15 {
    0% { transform: translateY(0px); }
    100% { transform: translateY(-1000px);  }
}
@-webkit-keyframes move15 {
    0% { -webkit-transform: translateY(0px); }
    100% { -webkit-transform: translateY(-1000px); }
}

/* Bubble16 */

.bubble16 {
    display: block;
    top: 1300px;	
    left: 1240px;				
    width: 22px;
    height: 22px;
    border-radius: 100%;
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    position: relative;

}


.bubble16:after {
    content: "";
    display: block;
    width: 20%;
    height: 20%;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    right: 15%;
    top: 15%;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    transform: rotateZ(45deg) scaleY(0.8);
    -webkit-transform: rotateZ(45deg) scaleY(0.8);
}

.move16 {
    animation: move 17s cubic-bezier(0.47, 0, 0.745, 0.715) 0s infinite normal;
    -webkit-animation: move 17s cubic-bezier(0.47, 0, 0.745, 0.715) 0s infinite normal;
    position: absolute;

}

@keyframes move16 {
    0% { transform: translateY(0px); }
    100% { transform: translateY(-1000px);  }
}
@-webkit-keyframes move16 {
    0% { -webkit-transform: translateY(0px); }
    100% { -webkit-transform: translateY(-1000px); }
}

/* Bubble17 */

.bubble17 {
    display: block;
    top: 1300px;
    left: 1040px;				
    width: 15px;
    height: 15px;
    border-radius: 100%;
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    position: relative;
    z-index: 1;

}


.bubble17:after {
    content: "";
    display: block;
    width: 20%;
    height: 20%;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    right: 15%;
    top: 15%;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    transform: rotateZ(45deg) scaleY(0.8);
    -webkit-transform: rotateZ(45deg) scaleY(0.8);
}

.move17 {
    animation: move 8s cubic-bezier(0.47, 0, 0.745, 0.715) 0s infinite normal;
    -webkit-animation: move 8s cubic-bezier(0.47, 0, 0.745, 0.715) 0s infinite normal;
    position: absolute;

}

@keyframes move17 {
    0% { transform: translateY(0px); }
    100% { transform: translateY(-1000px);  }
}
@-webkit-keyframes move17 {
    0% { -webkit-transform: translateY(0px); }
    100% { -webkit-transform: translateY(-1000px); }
}