.main{
	padding-top:80px;
	float: right;
}

.seven2{
	padding: 90px;
}

.seven3{
	padding: 90px;
	padding-top:400px;
}

.seven4{
	padding: 90px;
	padding-top:400px;
}

.seven5{
	padding: 90px;
	padding-top:400px;
}


.eight{
	padding-top: 300px;
}

.eleven{
	padding-bottom:80px;
}