.main{
	text-transform: uppercase;
	padding-top: 20px;
	font-size: 16pt;
	font-family: Comic Sans MS;
	
}
.lettering{
	letter-spacing: 1pt;
}

.lettering2{
	letter-spacing: 0pt;
}

.lettering3{
	letter-spacing: -1pt;
}

.lettering4{
	letter-spacing: -2pt;
}

.lettering5{
	letter-spacing: -3pt;
}

.lettering6{
	letter-spacing: -4pt;
}

.lettering7{
	letter-spacing: -5pt;
}

.lettering8{
	letter-spacing: -6pt;
}

.lettering9{
	letter-spacing: -7pt;
}

.lettering10{
	letter-spacing: -8pt;
}

.one{
	letter-spacing: -2pt;
}