.main{
	text-align: left;
	padding-top: 80px;
	padding-bottom: 0px;
	padding-top: 0;
	border: solid 2px;
	
}
.one{
	padding:20px;
	text-align: left;
}

.two{
	padding:20px;

}

.three{
	padding:20px;
	text-align: right;
}


.four{
	padding:20px;
	text-align: right;
}

.five{
	padding:20px;
	text-align: right;
}

.six{
	padding:20px;
	text-align: right;
}

.seven{
	padding:20px;
	text-align: center;
}

.eight{
	padding:20px;
	text-align: right;
}

.nine{
	padding:20px;
	text-align: center;
}

.ten{
	padding:20px;
	text-align: right;

}

.eleven{
	padding:20px;
	text-align: right;

}

