.main{
	text-align: center;
	font-style: italic;
	font-size: 15pt;
	
}


.one{
	padding: 20px;
	padding-bottom:500px;
	position: -webkit-sticky;
	position: sticky;
	top: 70px;
}


.two{
	padding-top:500px;
	padding: 20px;
	padding-bottom:500px;
	position: -webkit-sticky;
	position: sticky;
	top: 100px;
}


.three{
	padding-top:500px;
	padding: 20px;
	padding-bottom:500px;
	position: -webkit-sticky;
	position: sticky;
	top: 130px;

}

.thre2{
	padding-top:500px;
	padding: 20px;
	padding-bottom:500px;
	position: -webkit-sticky;
	position: sticky;
	top: 160px;
}

.four{
	padding-top:500px;
	padding: 20px;
	padding-bottom:500px;
	position: -webkit-sticky;
	position: sticky;
	top: 190px;

}

.five{
	padding-top:500px;
	padding: 20px;
	padding-bottom:500px;
	position: -webkit-sticky;
	position: sticky;
	top: 220px;
}

.six{
	padding-top:500px;
	padding: 20px;
	padding-bottom:500px;
	position: -webkit-sticky;
	position: sticky;
	top: 250px;
}
.seven{
	padding-top:500px;
	padding: 20px;
	padding-bottom:500px;
	position: -webkit-sticky;
	position: sticky;
	top: 280px;
}

.eight{
	padding-top:500px;
	padding: 20px;
	padding-bottom:500px;
	position: -webkit-sticky;
	position: sticky;
	top: 310px;
}

.nine{
	padding-top:500px;
	padding: 20px;
	padding-bottom:500px;
	position: -webkit-sticky;
	position: sticky;
	top: 340px;
}

.ten{
	padding-top:500px;
	padding: 20px;
	padding-bottom:500px;
	position: -webkit-sticky;
	position: sticky;
	top: 370px;
	
}

.eleven{
	padding-top:500px;
	padding-bottom:500px;
	padding: 20px;
	padding-bottom:500px;
	position: -webkit-sticky;
	position: sticky;
	top: 400px;
}

.twelve{
	padding: 20px;
	padding-bottom:490px;
	padding: 20px;
	padding-bottom:70px;
	position: -webkit-sticky;
	position: sticky;
	
}



