.main{
  	position: relative;
  	top: 500px;
  	width: 400px;
  	margin: 0 auto;
  	padding-bottom: 200px; 

}


.main2{
  	position: relative;
  	top: 900px;
  	width: 500px;
  	margin: 0 auto;
  	padding-bottom: 200px; 

}

.main3{
  	position: relative;
  	top: 1300px;
  	width: 600px;
  	margin: 0 auto;
  	padding-bottom: 200px; 

}

.main4{
  	position: relative;
  	top: 1800px;
  	width: 800px;
  	margin: 0 auto;
  	padding-bottom: 200px; 

}